<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,589}</string>
                <key>spriteSourceSize</key>
                <string>{1024,589}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,589}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>basketball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{748,1364},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue/blue.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{184,178}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{780,191},{184,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue/blue_figur_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{184,178}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{779,377},{184,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue/blue_figur_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{186,178}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{193,1027},{186,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue/blue_figur_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{182,178}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{779,749},{182,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue/blue_figur_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{184,178}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{779,563},{184,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue/blue_figur_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{186,178}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{592,179},{186,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue/blue_figur_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{188,176}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{783,1},{188,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue/blue_figur_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{188,176}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{1,1389},{188,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue/blue_figur_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{188,174}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{568,1077},{188,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue/blue_figur_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{188,176}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{188,1207},{188,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue/blue_figur_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{186,176}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{380,1385},{186,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue/blue_figur_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{184,178}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{780,191},{184,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>football.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,62}</string>
                <key>spriteSourceSize</key>
                <string>{110,62}</string>
                <key>textureRect</key>
                <string>{{748,1468},{110,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fussball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,89}</string>
                <key>spriteSourceSize</key>
                <string>{90,89}</string>
                <key>textureRect</key>
                <string>{{852,1364},{90,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red/red.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{190,178}</string>
                <key>spriteSourceSize</key>
                <string>{190,180}</string>
                <key>textureRect</key>
                <string>{{1,1027},{190,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red/red_figur_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{185,178}</string>
                <key>spriteSourceSize</key>
                <string>{191,180}</string>
                <key>textureRect</key>
                <string>{{381,1027},{185,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red/red_figur_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{185,178}</string>
                <key>spriteSourceSize</key>
                <string>{191,180}</string>
                <key>textureRect</key>
                <string>{{592,359},{185,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red/red_figur_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{183,178}</string>
                <key>spriteSourceSize</key>
                <string>{191,180}</string>
                <key>textureRect</key>
                <string>{{779,933},{183,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red/red_figur_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{185,178}</string>
                <key>spriteSourceSize</key>
                <string>{191,180}</string>
                <key>textureRect</key>
                <string>{{592,539},{185,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red/red_figur_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{185,178}</string>
                <key>spriteSourceSize</key>
                <string>{191,180}</string>
                <key>textureRect</key>
                <string>{{592,719},{185,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red/red_figur_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{189,176}</string>
                <key>spriteSourceSize</key>
                <string>{191,180}</string>
                <key>textureRect</key>
                <string>{{592,1},{189,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red/red_figur_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{187,176}</string>
                <key>spriteSourceSize</key>
                <string>{191,180}</string>
                <key>textureRect</key>
                <string>{{378,1207},{187,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red/red_figur_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{187,174}</string>
                <key>spriteSourceSize</key>
                <string>{191,180}</string>
                <key>textureRect</key>
                <string>{{758,1118},{187,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red/red_figur_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{187,176}</string>
                <key>spriteSourceSize</key>
                <string>{191,180}</string>
                <key>textureRect</key>
                <string>{{191,1385},{187,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red/red_figur_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{185,176}</string>
                <key>spriteSourceSize</key>
                <string>{191,180}</string>
                <key>textureRect</key>
                <string>{{592,899},{185,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red/red_figur_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{183,178}</string>
                <key>spriteSourceSize</key>
                <string>{191,180}</string>
                <key>textureRect</key>
                <string>{{568,1323},{183,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red/red_figur_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{185,180}</string>
                <key>spriteSourceSize</key>
                <string>{191,180}</string>
                <key>textureRect</key>
                <string>{{1,1207},{185,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>schussanzeige_voll.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{180,68}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{567,1253},{180,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>schussanzeige_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{180,68}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{749,1294},{180,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{960,1566}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0801ec009b6ff2284668da7a5d20d98b:e9cdacd0701dc6060b3eea67ad45136f:b2cae276934292945ac49b6ea6cfb4fe$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
