<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ballz_cover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,589}</string>
                <key>spriteSourceSize</key>
                <string>{512,589}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,589}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{180,88}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{1,592},{180,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quit_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,65}</string>
                <key>spriteSourceSize</key>
                <string>{131,65}</string>
                <key>textureRect</key>
                <string>{{319,592},{131,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,12}</string>
                <key>spriteSize</key>
                <string>{134,68}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{183,592},{134,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{514,681}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e25abe6b88884973f34744d89e3eb49:a9c15cd8140369c7119cea7b364cee31:9622c220910f706aac7e93396e53b943$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
